---
import ColorCode from "../../components/guides/ColorCode.astro"
import data from "../../../tasks/datas/token.json"
import ShadowCode from "../../components/guides/ShadowCode.astro"
type ValueData = { name: string; value: string | object }

const baseColor = (): Array<ValueData> => {
  const temp = getObjectToArray(data?.global?.shadow)
  return temp
}
const getObjectToArray: any = (obj: { [key: string]: any }) => {
  const temp = []
  const copies: { [key: string]: any } = obj
  for (const key in copies) {
    const value = copies[key]
    const changeValue: { [key: string]: any } | string =
      typeof value === "string" ? value : getValueToArray(value)

    const obj = { name: key, value: changeValue }

    temp.push(obj)
  }
  return temp
}
const getValueToArray: any = (obj: { [key: string]: any }) => {
  const temp = []
  const copies: { [key: string]: any } = obj
  for (const key in copies) {
    const value = copies[key]

    const obj = { name: key, value: value.value }

    temp.push(obj)
  }
  return temp
}
const getCasting = (value: object) => {
  return value as Array<ValueData>
}

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<h2>Shadow Tokens</h2>

<ul class="base_section">
  {
    baseColor().map((value) => {
      return (
        <li>
          <ShadowCode name={value.name} value={getCasting(value.value as object)} />
        </li>
      )
    })
  }
</ul>

