:root {
  --color-black-50: #e6e6e6;
  --color-black-100: #b0b0b0;
  --color-black-200: #8a8a8a;
  --color-black-300: #545454;
  --color-black-400: #333333;
  --color-black-500: #000000;
  --color-black-900: #000000;
  --color-primary-light: #edf6ff;
  --color-primary-light-hover: #e4f1ff;
  --color-primary-light-active: #c8e2ff;
  --color-primary-normal: #4da3ff;
  --color-primary-normal-hover: #4593e6;
  --color-primary-normal-active: #3e82cc;
  --color-primary-dark: #3a7abf;
  --color-primary-dark-hover: #2e6299;
  --color-primary-dark-active: #234973;
  --color-primary-darker: #1b3959;
  --color-secondary-light: #fff0f0;
  --color-secondary-light-hover: #ffe8e8;
  --color-secondary-light-active: #ffd0d0;
  --color-secondary-normal: #ff6666;
  --color-secondary-normal-hover: #e65c5c;
  --color-secondary-normal-active: #cc5252;
  --color-secondary-dark: #bf4d4d;
  --color-secondary-dark-hover: #993d3d;
  --color-secondary-dark-active: #732e2e;
  --color-secondary-darker: #440202;
  --space-3xs: 2px;
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-lineheight-sm: 18px;
  --font-lineheight-md: 20px;
  --font-lineheight-lg: 24px;
  --font-lineheight-xl: 28px;
  --textTest: {
  "size": "{font.size.md}",
  "weight": 400,
  "lineHeight": "{font.lineheight.md}",
};
}
