@mixin typo-md-regular {
  font-weight: 400;
  font-size: var(--font-size-md);
  line-height: var(--font-lineheight-md);
}
.typo-md-regular {
  @include typo-md-regular;
}

@mixin typo-md-medium {
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: var(--font-lineheight-md);
}
.typo-md-medium {
  @include typo-md-medium;
}

@mixin typo-md-bold {
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: var(--font-lineheight-md);
}
.typo-md-bold {
  @include typo-md-bold;
}

@mixin typo-sm-regular {
  font-weight: 400;
  font-size: var(--font-size-sm);
  line-height: var(--font-lineheight-sm);
}
.typo-sm-regular {
  @include typo-sm-regular;
}

@mixin typo-sm-medium {
  font-weight: 500;
  font-size: var(--font-size-sm);
  line-height: var(--font-lineheight-sm);
}
.typo-sm-medium {
  @include typo-sm-medium;
}

@mixin typo-sm-bold {
  font-weight: 700;
  font-size: var(--font-size-sm);
  line-height: var(--font-lineheight-sm);
}
.typo-sm-bold {
  @include typo-sm-bold;
}

@mixin typo-lg-reqular {
  font-weight: 400;
  font-size: var(--font-size-lg);
  line-height: var(--font-lineheight-lg);
}
.typo-lg-reqular {
  @include typo-lg-reqular;
}

@mixin typo-lg-medium {
  font-weight: 500;
  font-size: var(--font-size-lg);
  line-height: var(--font-lineheight-lg);
}
.typo-lg-medium {
  @include typo-lg-medium;
}

@mixin typo-lg-bold {
  font-weight: 700;
  font-size: var(--font-size-lg);
  line-height: var(--font-lineheight-lg);
}
.typo-lg-bold {
  @include typo-lg-bold;
}

@mixin typo-xl-regular {
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: var(--font-lineheight-xl);
}
.typo-xl-regular {
  @include typo-xl-regular;
}

@mixin typo-xl-medium {
  font-weight: 500;
  font-size: var(--font-size-xl);
  line-height: var(--font-lineheight-xl);
}
.typo-xl-medium {
  @include typo-xl-medium;
}

@mixin typo-xl-bold {
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: var(--font-lineheight-xl);
}
.typo-xl-bold {
  @include typo-xl-bold;
}
